# 의존성 라이브러리 목록
# 라이브러리==버전
numpy==2.1.1
pandas==2.2.3
scikit-learn==1.5.2
# tensorflow==  # 필요한 경우 버전을 추가
torch==2.4.1+cpu
# torchvision==  # 필요한 경우 버전을 추가
matplotlib==3.9.2
seaborn==0.13.2
pyyaml==6.0.2  # 필요한 경우 버전을 추가

'''
# model a
numpy==
torch==
matplotlib==
pyyaml==


'''
